* {
  margin: 0;
}

.header {
  background: #39e4c2;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 10px;
}

.menu {
  /* box-sizing: border-box; */
}

h1 {
  font-size: 20px;
}
ul {
  /* display: flex; */
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: 50px;
  background: black;
  color: aliceblue;
  /* padding-top: 6px; */
  font-weight: 100px;
}
.menu ul li {
  display: inline-flex;
}

.menu ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: aliceblue;
}

.menu ul li a:hover {
  background: burlywood;
}
.menu ul li {
  /* padding: 10px; */
}

.container {
  display: flex;
  padding-top: 30px;
}

.container .menu-1 {
  padding-right: 10px;
}

.container .content h2 {
  padding-bottom: 20px;
}
.footer {
  background: #dddddd;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  margin-top: 10px;
}

.container .content .text {
  display: block;
  flex-direction: column;
}

.container .content .text .date1 {
  text-align: right;
}
.footer p {
  padding-top: 15px;
  text-align: center;
}
